*.pyc
*~
*.bkp
*/*#*
*#*
__pycache__
front/node_modules
front/dist
test/temp
front/.sass-cache
fron/app/bower_components
.tmp
front/test/bower_components/
front/app/templates/compiled
.*#.*
front/src/build
front/src/vendor
front/src/js/templates
build
public/media/*/**
