$sidebar-width: 250px;

.account-menu {
    width: $sidebar-width;
    position: fixed;
    left: 0;
    background: red;
    li {
	&.group {
	    margin-top: 10px;
	    .header {
		background: #f6f6f6;
		font-weight: bold;
		padding: 0px 5px;
	    }
	}

	.items {
	    padding-left: 10px;
	    li {
		border-bottom: 1px solid #eee;
	    }
	}
    }
}

@media(max-width:768px) {
    .account-menu {
	width: 0;
	left: 0;

	.menu {
	    display: none;
	}
    }
}
